@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#render-target {
    height: 100%;
}

.page {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.content {
    min-height: calc(100% - 100px);
    margin-bottom: -50px;
    padding-bottom: 50px;
    /* padding-top: 25px; */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}