.badge {
    border-radius: 50px;
    background-color: #eee;
    font-size: 12px;
    text-align: center;
    width: auto;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}

.badge-alternative {
    background-color: #111111;
    color: #fff;
}

.badge-danger {
    background-color: #721c24;
    color: #fff;
}

.badge-info {
    background-color: #006CA7;
    color: #fff;
}

.badge-warning {
    background-color: #FFA500;
    color: #fff;
}