.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pagination .page {
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    margin-right: 5px;
}

.pagination .page:last-child {
    margin-right: 0;
}

.pagination .page.active {
    background-color: #006CA7;
    color: white;
}

.pagination .page:hover {
    background-color: #004367;
    color: white;
}